
<h1>Your Projects</h1>

<% @projects.each do |p|%>

<h2><%=  link_to p.title, project_path(p) %></h2>

<% end %>

<%= button_to 'New Project', new_project_path, :method => "get" %>

<h1>Projects You've Contributed To</h1>
<% unless @helping_projects.blank?%>
<% @helping_projects.each do |p|%>
<h2><%=  link_to p.title, project_path(p) %></h2>  
<h4><%= created_by_at(p.owner,p)%></h4>
<% end%>
<% else %>
<h4>Nothing Here Yet!</h4>
<% end%>


<h1>All Projects by Others</h1>
<% unless @other_projects.blank?%>
<% @other_projects.each do |p|%>

<h2><%=  link_to p.title, project_path(p) %></h2>  
<h4><%= created_by_at(p.owner,p)%></h4>
<% end%>
<% else %>
<h4>Nothing Here Yet!</h4>

<% end %>