<h1> New Project </h1>
  <h3>Select Partners to Contribute to the Project<h3>
 <%= render "add_partners" %>
  <br>
<%= form_for @project, url: user_projects_path(@project, user_id: current_user.id), html: {method: :post}  do |f| %>
<%# render partial: "layouts/errors", locals: {subject: @project} %>
  <%= f.label :title, "Project Title:" %>
  <%= f.text_field :title %><br>
  <%= f.label :goal, "Main Goal:" %>
  <%= f.text_field :goal %><br><br>
 
  <br>
 
  <%= f.submit "Create Project" %>
  <% end %>