<h1> New Project </h1>

<%= form_for @project, url: projects_path(@project) , html: {method: :post}  do |f| %>
  <%= render partial: "form", locals: {f: f} %>

  <h4>Features:<h4>
    <p> (Name a feature this project will have. More can be added later!)</p>
      <%= f.fields_for :project_features do |project_features| %>
      <%= render partial: "project_features/feature_form", locals: {f: project_features} %>
      <% end %>
      <br>
    <%= f.submit "Create Project" %>
  <% end %>