<h1> New Project </h1>

<%= form_for @project do |f| %>
  <%= f.label :title, "Title:" %>
  <%= f.text_field :title %>
  <%= f.label :goal, "Main Goal:" %>
  <%= f.text_field :goal %>
  <%= f.label :contributors, "Contributors:" %>
 
  <%= f.submit "Create Project" %>
  <% end %>