<h1>Project: <%= @project.title %></h1>

<h2>Goal: <%= @project.goal %></h2>

<h3>Features:</h3>
  
  <% @project.project_features.each do |feat|%>
  
    <%= link_to feat.name, project_feature_path(project_id: feat.project_id) %><br><br>
      
    <% end %>
    
<%= button_to "Add Feature", new_project_feature_path(@project.id), method: "get" %><br><br>
<%= button_to "Delete Project", {action: "destroy"}, method: "delete" if @project.is_mine(current_user) %>
