<h1><%= @project.title %></h1>

<h2>Goal: <%= @project.goal %></h2>

<h3>Features:</h3>
  <% if @project.project_features %>
  <ul>
    <% @project.project_features.each do |feat|%>
    <li><%= feat.name %>: <%= feat.description %></li><br>
 </ul>
    <% end %>
  <% else  %>
   <p>No features yet</p>
   <% end%>
<%= button_to "Delete", {action: "destroy"}, method: "delete"  %>