<nav class="navbar">
  <% if logged_in? %>
    <p>Logged in as, <%= current_user.name.titleize %></p>
    <%= link_to "Log Out", logout_path, method: "delete" %>
  <% else %>
    <%= link_to "Log In", login_path %>
    <%= link_to "Sign Up", new_user_path%> 
    <%= button_to "Log In or Join with Github", "/auth/github", method: :post %>    
  <% end%>
</nav> 
